#include <iostream>
using namespace std;
int contar(char buscar[20]);
int main()
{
	char palabra[200];
	char buscar[20];
	int n=0, i=0, k=0;
	cout<<"Ingresa tu Cadena de Caracteres:";
	cin.getline(palabra,200);
	cout<<"Cual es la palabra que desea buscar??";
	cin.getline(buscar,20);
	n=contar(buscar);
	do 
	{
		if(palabra[i]==buscar[k])
		{
			k+=1;	
		}
		else
		{
			k=0;
		}
		i++;
	}while(i<=200 || k<=n);
	if (n==k)
	{
        cout<<"La palabra se encontro y esta en la posicion"<<i; 
    }
    else
    {
        cout<<"No se encontro la palabra";
    }    
	return 0;
}
int contar(char buscar[20])
{
	int n=0;
	for(int i=0;i<=buscar[i];i++)
	{
		n+=1;
	}
	return n;
}

